@media all and (max-width: 1000px) {
  .content h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .info-hewan {
    width: 50%;
    padding-bottom: 50px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .content {
    text-align: left;
  }

  .content h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .content p {
    font-size: 14px;
    line-height: 20px;
  }

  .btn {
    width: 100%;
  }

  .info-hewan {
    width: 100%;
  }
}